.header{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.item{
    height: 300px;
    width:31%;
    background-color: aqua;
    border-radius: 5px;
    border: 2px solid silver;
}

.item h1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: monospace;
}

.item p{
    font-size:15px;
    padding: 20px;
    font-family:sans-serif;
    text-align: justify;
}

.hero h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}